# Auto detect text files and perform LF normalization
* text=auto

R-Projects/**.ipynb linguist-language=r

PostgreSQL-Projects/**.ipynb linguist-language=sql

Python-Projects/**.ipynb linguist-language=python

Power-BI-Projects/**.ipynb linguist-language=power bi
